{%extends 'product_spec/find_specification.html'%}
{%block content%}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Изображение</th>
    </tr>
  </thead>
  <tbody>
 <tr>
      <th scope="row">{{product.title}}</th>
      <td class="w-25"><img src="{{product.image.url}}" class="img-fluid"></td>
 </tr>
  </tbody>
</table>

{%if specifications_existence%}
<h6>Обновить характеристики:</h6>
<tr>
    <form action="{%url 'update_specification'  slug=product.slug%}" method="POST">
        {%csrf_token%}
        {%for product_specification in specifications_for_product%}
        {{product_specification.specification}}
        <input type="text" class="form-control" name="{{product_specification.specification}}" style="width: 70px;">
        {%endfor%}
        <br>
        <input type="submit" class="btn btn-outline-dark" value="Сохранить характеристики">
    </form>
</tr>
{%else%}
<h6>Создать характеристики:</h6>
<tr>
    <form action="{%url 'add_specification'  slug=product.slug%}" method="POST">
        {%csrf_token%}
        {%for product_specification in specifications_for_product%}
        {{product_specification.specification}}
        <input type="text" class="form-control" name="{{product_specification.specification}}" style="width: 70px;">
        {%endfor%}
        <br>
        <input type="submit" class="btn btn-outline-dark" value="Сохранить характеристики">
    </form>
</tr>
{%endif%}

{%endblock content%}